<div class="container speaker-details">
  <div class="card details">
    <div class="card-body">
      <div class="clearfix"></div>
      <div class="speaker__info">
        <h4><%= "#{@profile.first} #{@profile.last}" %></h4>
      </div>
    </div>
    <p><%= @profile.description %></p>
  </div>
</div>
